<div class="stretch">

  <h1>Sign-Up</h1>




  <% if @user.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= link_to("Sign Up Via Twitter!", "	https://api.twitter.com/oauth/request_token") %>
   <br><br>

  <div class="form">
  <%= form_for(@user) do |f| %>

    <label>E-mail Address: <%= f.text_field :email %></label><br>
    <label>Password: <%= f.password_field :password %></label><br>
    <label> Confirm Password: <%= f.password_field :password_confirmation %></label><br>

  </div>

    <%= f.submit 'Sign Up', :class => 'altbtn altbtn-lg altbtn-outline' %>
    <% end %>

  <h2>Already Have An Account? <%= link_to "Log In", signin_path %></h2>

</div>