<div class="stretch">

  <h1>Sign-Up</h1>

  <div class="form">


  <% if @user.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form_for(@user) do |f| %>

    <label>E-mail Address: <%= f.text_field :email %></label><br>
    <label>Password: <%= f.password_field :password %></label><br>
    <label> Confirm Password: <%= f.password_field :password_confirmation %></label><br>

  <%= f.submit 'Sign Up', :class => 'altbtn altbtn-lg altbtn-outline' %>
  <% end %>

  </div>

</div>